{{#with theme_settings}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa show_accept_applepay}}
        <div class="footer-payment-icons">
            {{#if show_accept_amex}}
                <svg class="footer-payment-icon footer-payment-icon-amex"><use xlink:href="#icon-logo-american-express"></use></svg>
            {{/if}}
            {{#if show_accept_discover}}
                <svg class="footer-payment-icon footer-payment-icon-discover"><use xlink:href="#icon-logo-discover"></use></svg>
            {{/if}}
            {{#if show_accept_mastercard}}
                <svg class="footer-payment-icon footer-payment-icon-mastercard"><use xlink:href="#icon-logo-mastercard"></use></svg>
            {{/if}}
            {{#if show_accept_paypal}}
                <svg class="footer-payment-icon footer-payment-icon-paypal"><use xlink:href="#icon-logo-paypal"></use></svg>
            {{/if}}
            {{#if show_accept_visa}}
                <svg class="footer-payment-icon footer-payment-icon-visa"><use xlink:href="#icon-logo-visa"></use></svg>
            {{/if}}
            {{#if show_accept_applepay}}
                <svg class="footer-payment-icon footer-payment-icon-apple"><use xlink:href="#icon-logo-apple-pay"></use></svg>
            {{/if}}
        </div>
    {{/or}}
{{/with}}
