{{#if social_media}}
    
    <ul class="socialLinks socialLinks--alt">
            <li class="socialLinks-item"><h5 class="socialLinksTop-header">{{lang 'social.connect'}}:</h5></li>
        {{#each social_media}}
            <li class="socialLinks-item">
                {{#if display_name '===' 'google+'}}
                    <a class="icon icon--google" href="{{url}}" target="_blank">
                        <svg><use xlink:href="#icon-google" /></svg>
                    </a>
                {{else}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <svg><use xlink:href="#icon-{{display_name}}" /></svg>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}