---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---
{{#partial "page"}}

<div class="container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <main class="page">
        <h1 class="page-heading">{{ blog.name }}</h1>
        <div class="blog-posts">
            {{#each blog.posts}}
                {{> components/blog/post post=this}}
            {{/each}}
        </div>
    
        {{> components/common/paginator pagination.blog}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
