---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<div class="container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{#if brand.image}}
        <div class="brand-image-container">
            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage brand.image 'thumb_size'}}">
        </div>
    {{/if}}
    <h1 class="page-heading">{{brand.name}}</h1>
</div>
{{{snippet 'brand'}}}
<div class="grid-bg">
    <div class="container">
        <div class="page">
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/brand/sidebar}}
            </aside>
        
            <main class="page-content" id="product-listing-container">
                {{#if brand.products}}
                    {{> components/brand/product-listing}}
                {{else}}
                    <p>{{lang 'brands.no_products'}}</p>
                {{/if}}
            </main>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
