---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}
    
    {{#if banners.top}}
    <div class="banners banners--top" data-banner-location="top">
        {{#each (limit banners.top_metadata 1)}}
        <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
            <div data-event-type="promotion-click">
                {{{this.content}}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- Social under homepage hero -->
    <div class="banners banners--social" data-banner-location="top">
        <div class="banners__item">
            <div class="banners__sub-item">{{> components/common/social-links-top}}</div>
        </div>
        <div class="banners__item">
            <div class="banners__sub-item">{{> components/common/subscription-form}}</div>
        </div>
     </div>

    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    
    <div class="main full grid-bg">
        <div class="container">
            {{#if products.featured}}
                {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
            {{/if}}
        
            {{#if products.top_sellers}}
                {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
            {{/if}}
        
            {{#if products.new}}
                {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
            {{/if}}
        </div>
    </div>
{{/partial}}

{{#partial "hero-bottom"}}
    {{#if blog.recent_posts}}
        <div class="banners blog-posts-wrap">
            <div class="container">
                <h2 class="page-heading">Recent Posts</h2> 
                <div class="blog-posts">
                    {{#each blog.recent_posts}}
                        {{> components/blog/post post=this}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
{{/partial}}

{{> layout/base}}
