---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    <div class="container">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{#each product.shipping_messages}}
            {{> components/common/alert-info message}}
        {{/each}}
    </div>

    <div itemscope itemtype="http://schema.org/Product">
        <div class="container">
            {{> components/products/product-view schema=true  }}
        </div>

        {{> components/products/tabs}}

        {{#if product.related_products}}
            {{#unless theme_settings.related_products_tab}}
                <div id="tab-related">
                    <div class="grid-bg">
                        <div class="container">
                            <h3 class="main-heading uppercase center"><strong>{{lang 'products.related_products'}}</strong></h3>
                            {{#if settings.data_tag_enabled}}
                                {{> components/products/related products=product.related_products columns=6 list="Related Products"}}
                            {{else}}
                                {{> components/products/related products=product.related_products columns=6}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
        
        {{#if product.similar_by_views}}
            {{#unless theme_settings.customer_viewed_products_tab}}
                <div id="tab-related">
                    <div class="grid-bg">
                        <div class="container">
                            <h3 class="main-heading uppercase center"><strong>{{lang 'products.similar_by_views'}}</strong></h3>
                            {{> components/products/similar-by-views products=product.similar_by_views columns=6}}
                        </div>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
        
        {{#if settings.show_product_reviews}}
            {{#gt product.reviews.total 0}}
                <div class="container">
                    <h3 class="main-heading uppercase" id="reviews-accordion">Reviews</h3>
                    {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
                </div>
            {{/gt}}
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
