// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    margin-top: 0;
    text-transform: none;

    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: left;
    margin: 0;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    text-align: left;
}

.blog-thumbnail {
    margin: 0 auto spacing("single");
    position: relative;
    max-width: get_width(stencilString('blog_size'));

    img {
        @include lazy-loaded-img;
    }

    @include lazy-loaded-padding('blog_size');
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    width: 100%;
}
