// styles for PDP custom form
.pdp-custom-form {
    // height: 40px;
    overflow: hidden;
    padding: 15px; 
    background-color: #efefef; 
    border: 1px solid #ccc;
    border-radius: 5px;  
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0; 
    }
}
.learn-more {
    font-family: $body-font; 
    font-size: $body-fontSize; 
    color: $body-font-color; 
    font-weight: 400; 
    text-decoration: underline; 
    margin-left: 10px; 
    cursor: pointer; 
}

.hide {
    display: none;
    visibility: hidden; 
}
