<section class="heroCarousel"
    data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}},
        "lazyLoad": "anticipated"
    }'>
    {{#each carousel.slides}}
    {{#if url}}
    <a href="{{url}}">
    {{/if}}
        <div class="heroCarousel-slide {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
            <div class="heroCarousel-image-wrapper" {{#if image_height}}{{#if image_width}}style="height: {{multiply (divide image_height image_width) 100}}vw;"{{/if}}{{/if}}>
                <img class="heroCarousel-image" {{#if @first}}src{{else}}data-lazy{{/if}}="{{image}}" alt="{{alt_text}}" title="{{alt_text}}"
                {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}} />
            </div>
            {{#or heading text}}
            <div class="heroCarousel-content--wrapper">
                {{#if heading}}
                    {{> components/carousel-content show_background=true}}
                {{else}}
                    {{#if text}}
                        {{> components/carousel-content show_background=true}}
                    {{else}}
                        {{#if button_text}}
                            {{> components/carousel-content show_background=false}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            {{/or}}
        </div>
    {{#if url}}
    </a>
    {{/if}}
    {{/each}}
</section>
