{{#if items}}
<div class="accordion-block">
    <div
        class="accordion-navigation toggleLink {{#unless ../start_collapsed }} is-open {{/unless}}"
        role="button"
        data-collapsible="#facetedSearch-content--{{hyphenate facet }}">
        <h5 class="accordion-title">
            {{ title }}
        </h5>

        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-downselector" />
            </svg>
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                <use xlink:href="#icon-downselector" />
            </svg>
        </div>
    </div>

    <div id="facetedSearch-content--{{hyphenate facet }}" class="accordion-content {{#unless ../start_collapsed }} is-open {{/unless}}">
        <ul id="facetedSearch-navList--{{hyphenate facet }}" data-facet="{{facet}}" class="navList" data-has-more-results="{{ has_more_results }}">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{ url }}"
                        class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                        rel="nofollow"
                        data-faceted-search-facet>
                        {{ title }}
                        {{#if ../show_product_counts}}
                            <span>({{ count }})</span>
                        {{/if}}

                        <span class="navList-action-close" aria-hidden="true">
                            <svg class="icon">
                                <use xlink:href="#icon-close"/>
                            </svg>
                        </span>
                    </a>
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{hyphenate facet }}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
