{{#if bulk_discount_rates.length}}
    <div class="productView-info-bulkPricing">
        {{#if product}}<dt class="productView-info-bulkPricing-name">{{lang 'products.bulk_pricing.title'}}</dt>{{/if}}
        <dd class="productView-info-value">
            <p>{{lang 'products.bulk_pricing.instructions'}}</p>
            <ul>
                {{#each bulk_discount_rates}}
                <li>
                    {{lang 'products.bulk_pricing.range' min=min max=max}}
                    {{#if type '===' 'percent'}}
                    {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                    {{/if}}
                    {{#if type '===' 'fixed'}}
                    {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                    {{/if}}
                    {{#if type '===' 'price'}}
                    {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </dd>
    </div>
{{/if}}
